appdirs==1.4.3
attrs==19.3.0
cached-property==1.5.1
Cerberus==1.3.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
delegator.py==0.1.1
distlib==0.3.0
dnspython==1.16.0
eventlet==0.25.1
first==2.0.2
Flask-SocketIO==4.2.1
format-pipfile==0.0.6
future==0.18.2
greenlet==0.4.15
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
monotonic==1.5
orderedmultidict==1.0.1
packaging==19.2
path==13.0.0
path.py==12.3.0
pep517==0.8.1
pexpect==4.7.0
pip-shims==0.4.0
pipenv==2018.11.26
plette==0.2.3
ptyprocess==0.6.0
pycparser==2.19
pyparsing==2.4.5
python-engineio==3.10.0
python-socketio==4.4.0
requests==2.22.0
requirementslib==1.5.3
six==1.13.0
toml==0.10.0
tomlkit==0.5.8
urllib3==1.25.7
virtualenv==16.7.8
virtualenv-clone==0.5.3
vistir==0.4.3
Werkzeug==0.16.0
